<html>
<body>
	<div class="head">
		<h2>{INVITEENAME,您好！}</h2>
	</div>
	<div>{INVITERNAME} 在TeamWork上创建了工作“{TEAMNAME}”工作团队，现在邀请你的加入</div>
	<div>您的账号为：{INVITEEEMAIL}，初始密码为：{PASSWORD}</div>
	<div>
		请<a href="{INVITEANWSERURL}">点击这里</a>进行激活
	</div>
</body>
</html>

<html><body><div class="head"><h2>{INVITEENAME,您好！}</h2></div><div>{INVITERNAME} 在TeamWork上创建了工作“{TEAMNAME}”工作团队，现在邀请你的加入</div><div>您的账号为：{INVITEEEMAIL}，初始密码为：{PASSWORD}</div><div>请<a href="{ACTIVEURL}">点击这里</a>进行激活</div></body></html>